{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="page-content">
	<div class="wrapper">
		<main class="content" role="main">

			<div class="cf frame">
				{{! The tag below includes the post loop - partials/loop.hbs }}
				{{> "loop"}}
			</div>

			{{! Previous/next page links - displayed on every page }}
			{{pagination}}

		</main>
	</div>
</div>
