.highlight-fruity,.highlight{background:#333333}
.highlight-fruity .c,.highlight .c{color:#008800;font-style:italic;background-color:#0f140f}
.highlight-fruity .err,.highlight .err{color:#fff}
.highlight-fruity .g,.highlight .g{color:#fff}
.highlight-fruity .k,.highlight .k{color:#fb660a;font-weight:bold}
.highlight-fruity .l,.highlight .l{color:#fff}
.highlight-fruity .n,.highlight .n{color:#fff}
.highlight-fruity .o,.highlight .o{color:#fff}
.highlight-fruity .x,.highlight .x{color:#fff}
.highlight-fruity .p,.highlight .p{color:#fff}
.highlight-fruity .cm,.highlight .cm{color:#008800;font-style:italic;background-color:#0f140f}
.highlight-fruity .cp,.highlight .cp{color:#ff0007;font-weight:bold;font-style:italic;background-color:#0f140f}
.highlight-fruity .c1,.highlight .c1{color:#008800;font-style:italic;background-color:#0f140f}
.highlight-fruity .cs,.highlight .cs{color:#008800;font-style:italic;background-color:#0f140f}
.highlight-fruity .gd,.highlight .gd{color:#fff}
.highlight-fruity .ge,.highlight .ge{color:#fff}
.highlight-fruity .gr,.highlight .gr{color:#fff}
.highlight-fruity .gh,.highlight .gh{color:#ffffff;font-weight:bold}
.highlight-fruity .gi,.highlight .gi{color:#fff}
.highlight-fruity .go,.highlight .go{color:#444444;background-color:#222}
.highlight-fruity .gp,.highlight .gp{color:#fff}
.highlight-fruity .gs,.highlight .gs{color:#fff}
.highlight-fruity .gu,.highlight .gu{color:#ffffff;font-weight:bold}
.highlight-fruity .gt,.highlight .gt{color:#fff}
.highlight-fruity .kc,.highlight .kc{color:#fb660a;font-weight:bold}
.highlight-fruity .kd,.highlight .kd{color:#fb660a;font-weight:bold}
.highlight-fruity .kn,.highlight .kn{color:#fb660a;font-weight:bold}
.highlight-fruity .kp,.highlight .kp{color:#fb660a}
.highlight-fruity .kr,.highlight .kr{color:#fb660a;font-weight:bold}
.highlight-fruity .kt,.highlight .kt{color:#cdcaa9;font-weight:bold}
.highlight-fruity .ld,.highlight .ld{color:#fff}
.highlight-fruity .m,.highlight .m{color:#0086f7;font-weight:bold}
.highlight-fruity .s,.highlight .s{color:#0086d2}
.highlight-fruity .na,.highlight .na{color:#ff0086;font-weight:bold}
.highlight-fruity .nb,.highlight .nb{color:#fff}
.highlight-fruity .nc,.highlight .nc{color:#fff}
.highlight-fruity .no,.highlight .no{color:#0086d2}
.highlight-fruity .nd,.highlight .nd{color:#fff}
.highlight-fruity .ni,.highlight .ni{color:#fff}
.highlight-fruity .ne,.highlight .ne{color:#fff}
.highlight-fruity .nf,.highlight .nf{color:#ff0086;font-weight:bold}
.highlight-fruity .nl,.highlight .nl{color:#fff}
.highlight-fruity .nn,.highlight .nn{color:#fff}
.highlight-fruity .nx,.highlight .nx{color:#fff}
.highlight-fruity .py,.highlight .py{color:#fff}
.highlight-fruity .nt,.highlight .nt{color:#fb660a;font-weight:bold}
.highlight-fruity .nv,.highlight .nv{color:#fb660a}
.highlight-fruity .ow,.highlight .ow{color:#fff}
.highlight-fruity .w,.highlight .w{color:#888}
.highlight-fruity .mf,.highlight .mf{color:#0086f7;font-weight:bold}
.highlight-fruity .mh,.highlight .mh{color:#0086f7;font-weight:bold}
.highlight-fruity .mi,.highlight .mi{color:#0086f7;font-weight:bold}
.highlight-fruity .mo,.highlight .mo{color:#0086f7;font-weight:bold}
.highlight-fruity .sb,.highlight .sb{color:#0086d2}
.highlight-fruity .sc,.highlight .sc{color:#0086d2}
.highlight-fruity .sd,.highlight .sd{color:#0086d2}
.highlight-fruity .s2,.highlight .s2{color:#0086d2}
.highlight-fruity .se,.highlight .se{color:#0086d2}
.highlight-fruity .sh,.highlight .sh{color:#0086d2}
.highlight-fruity .si,.highlight .si{color:#0086d2}
.highlight-fruity .sx,.highlight .sx{color:#0086d2}
.highlight-fruity .sr,.highlight .sr{color:#0086d2}
.highlight-fruity .s1,.highlight .s1{color:#0086d2}
.highlight-fruity .ss,.highlight .ss{color:#0086d2}
.highlight-fruity .bp,.highlight .bp{color:#fff}
.highlight-fruity .vc,.highlight .vc{color:#fb660a}
.highlight-fruity .vg,.highlight .vg{color:#fb660a}
.highlight-fruity .vi,.highlight .vi{color:#fb660a}
.highlight-fruity .il,.highlight .il{color:#0086f7;font-weight:bold}
.highlight-monokai{background:#49483e}
.highlight-monokai .c{color:#75715e}
.highlight-monokai .err{color:#960050;background-color:#1e0010}
.highlight-monokai .k{color:#66d9ef}
.highlight-monokai .l{color:#ae81ff}
.highlight-monokai .n{color:#f8f8f2}
.highlight-monokai .o{color:#f92672}
.highlight-monokai .p{color:#f8f8f2}
.highlight-monokai .cm{color:#75715e}
.highlight-monokai .cp{color:#75715e}
.highlight-monokai .c1{color:#75715e}
.highlight-monokai .cs{color:#75715e}
.highlight-monokai .ge{font-style:italic}
.highlight-monokai .gs{font-weight:bold}
.highlight-monokai .kc{color:#66d9ef}
.highlight-monokai .kd{color:#66d9ef}
.highlight-monokai .kn{color:#f92672}
.highlight-monokai .kp{color:#66d9ef}
.highlight-monokai .kr{color:#66d9ef}
.highlight-monokai .kt{color:#66d9ef}
.highlight-monokai .ld{color:#e6db74}
.highlight-monokai .m{color:#ae81ff}
.highlight-monokai .s{color:#e6db74}
.highlight-monokai .na{color:#a6e22e}
.highlight-monokai .nb{color:#f8f8f2}
.highlight-monokai .nc{color:#a6e22e}
.highlight-monokai .no{color:#66d9ef}
.highlight-monokai .nd{color:#a6e22e}
.highlight-monokai .ni{color:#f8f8f2}
.highlight-monokai .ne{color:#a6e22e}
.highlight-monokai .nf{color:#a6e22e}
.highlight-monokai .nl{color:#f8f8f2}
.highlight-monokai .nn{color:#f8f8f2}
.highlight-monokai .nx{color:#a6e22e}
.highlight-monokai .py{color:#f8f8f2}
.highlight-monokai .nt{color:#f92672}
.highlight-monokai .nv{color:#f8f8f2}
.highlight-monokai .ow{color:#f92672}
.highlight-monokai .w{color:#f8f8f2}
.highlight-monokai .mf{color:#ae81ff}
.highlight-monokai .mh{color:#ae81ff}
.highlight-monokai .mi{color:#ae81ff}
.highlight-monokai .mo{color:#ae81ff}
.highlight-monokai .sb{color:#e6db74}
.highlight-monokai .sc{color:#e6db74}
.highlight-monokai .sd{color:#e6db74}
.highlight-monokai .s2{color:#e6db74}
.highlight-monokai .se{color:#ae81ff}
.highlight-monokai .sh{color:#e6db74}
.highlight-monokai .si{color:#e6db74}
.highlight-monokai .sx{color:#e6db74}
.highlight-monokai .sr{color:#e6db74}
.highlight-monokai .s1{color:#e6db74}
.highlight-monokai .ss{color:#e6db74}
.highlight-monokai .bp{color:#f8f8f2}
.highlight-monokai .vc{color:#f8f8f2}
.highlight-monokai .vg{color:#f8f8f2}
.highlight-monokai .vi{color:#f8f8f2}
.highlight-monokai .il{color:#ae81ff}
.highlight-monokai .gu{color:#75715e}
.highlight-monokai .gd{color:#f92672}
.highlight-monokai .gi{color:#a6e22e}
.highlight-native{background:#404040}
.highlight-native .c{color:#999999;font-style:italic}
.highlight-native .err{color:#a61717;background-color:#e3d2d2}
.highlight-native .g{color:#d0d0d0}
.highlight-native .k{color:#6ab825;font-weight:bold}
.highlight-native .l{color:#d0d0d0}
.highlight-native .n{color:#d0d0d0}
.highlight-native .o{color:#d0d0d0}
.highlight-native .x{color:#d0d0d0}
.highlight-native .p{color:#d0d0d0}
.highlight-native .cm{color:#999999;font-style:italic}
.highlight-native .cp{color:#cd2828;font-weight:bold}
.highlight-native .c1{color:#999999;font-style:italic}
.highlight-native .cs{color:#e50808;font-weight:bold;background-color:#520000}
.highlight-native .gd{color:#d22323}.highlight-native .ge{color:#d0d0d0;font-style:italic}.highlight-native .gr{color:#d22323}.highlight-native .gh{color:#ffffff;font-weight:bold}.highlight-native .gi{color:#589819}.highlight-native .go{color:#ccc}.highlight-native .gp{color:#aaa}.highlight-native .gs{color:#d0d0d0;font-weight:bold}.highlight-native .gu{color:#ffffff;text-decoration:underline}.highlight-native .gt{color:#d22323}
.highlight-native .kc{color:#6ab825;font-weight:bold}.highlight-native .kd{color:#6ab825;font-weight:bold}.highlight-native .kn{color:#6ab825;font-weight:bold}.highlight-native .kp{color:#6ab825}.highlight-native .kr{color:#6ab825;font-weight:bold}.highlight-native .kt{color:#6ab825;font-weight:bold}.highlight-native .ld{color:#d0d0d0}.highlight-native .m{color:#3677a9}.highlight-native .s{color:#ed9d13}.highlight-native .na{color:#bbb}.highlight-native .nb{color:#24909d}.highlight-native .nc{color:#447fcf;text-decoration:underline}.highlight-native .no{color:#40ffff}.highlight-native .nd{color:orange}.highlight-native .ni{color:#d0d0d0}.highlight-native .ne{color:#bbb}.highlight-native .nf{color:#447fcf}.highlight-native .nl{color:#d0d0d0}.highlight-native .nn{color:#447fcf;text-decoration:underline}.highlight-native .nx{color:#d0d0d0}.highlight-native .py{color:#d0d0d0}.highlight-native .nt{color:#6ab825;font-weight:bold}.highlight-native .nv{color:#40ffff}
.highlight-native .ow{color:#6ab825;font-weight:bold}.highlight-native .w{color:#666}.highlight-native .mf{color:#3677a9}.highlight-native .mh{color:#3677a9}.highlight-native .mi{color:#3677a9}.highlight-native .mo{color:#3677a9}.highlight-native .sb{color:#ed9d13}.highlight-native .sc{color:#ed9d13}.highlight-native .sd{color:#ed9d13}.highlight-native .s2{color:#ed9d13}.highlight-native .se{color:#ed9d13}.highlight-native .sh{color:#ed9d13}.highlight-native .si{color:#ed9d13}.highlight-native .sx{color:orange}.highlight-native .sr{color:#ed9d13}.highlight-native .s1{color:#ed9d13}.highlight-native .ss{color:#ed9d13}.highlight-native .bp{color:#24909d}.highlight-native .vc{color:#40ffff}.highlight-native .vg{color:#40ffff}.highlight-native .vi{color:#40ffff}.highlight-native .il{color:#3677a9}.highlight-vim{background:#222222}.highlight-vim .c{color:navy}.highlight-vim .err{color:#cccccc;border:1px solid red}.highlight-vim .g{color:#ccc}.highlight-vim .k{color:#cdcd00}.highlight-vim .l{color:#ccc}.highlight-vim .n{color:#ccc}
.highlight-vim .o{color:#39c}.highlight-vim .x{color:#ccc}.highlight-vim .p{color:#ccc}.highlight-vim .cm{color:navy}.highlight-vim .cp{color:navy}.highlight-vim .c1{color:navy}.highlight-vim .cs{color:#cd0000;font-weight:bold}.highlight-vim .gd{color:#cd0000}.highlight-vim .ge{color:#cccccc;font-style:italic}.highlight-vim .gr{color:red}.highlight-vim .gh{color:#000080;font-weight:bold}.highlight-vim .gi{color:#00cd00}.highlight-vim .go{color:gray}.highlight-vim .gp{color:#000080;font-weight:bold}.highlight-vim .gs{color:#cccccc;font-weight:bold}.highlight-vim .gu{color:#800080;font-weight:bold}.highlight-vim .gt{color:#0040D0}.highlight-vim .kc{color:#cdcd00}.highlight-vim .kd{color:#00cd00}.highlight-vim .kn{color:#cd00cd}.highlight-vim .kp{color:#cdcd00}.highlight-vim .kr{color:#cdcd00}.highlight-vim .kt{color:#00cd00}.highlight-vim .ld{color:#ccc}.highlight-vim .m{color:#cd00cd}.highlight-vim .s{color:#cd0000}.highlight-vim .na{color:#ccc}.highlight-vim .nb{color:#cd00cd}.highlight-vim .nc{color:#00cdcd}.highlight-vim .no{color:#ccc}.highlight-vim .nd{color:#ccc}.highlight-vim .ni{color:#ccc}.highlight-vim .ne{color:#666699;font-weight:bold}
.highlight-vim .nf{color:#ccc}.highlight-vim .nl{color:#ccc}.highlight-vim .nn{color:#ccc}.highlight-vim .nx{color:#ccc}.highlight-vim .py{color:#ccc}.highlight-vim .nt{color:#ccc}.highlight-vim .nv{color:#00cdcd}.highlight-vim .ow{color:#cdcd00}.highlight-vim .w{color:#ccc}.highlight-vim .mf{color:#cd00cd}.highlight-vim .mh{color:#cd00cd}.highlight-vim .mi{color:#cd00cd}.highlight-vim .mo{color:#cd00cd}.highlight-vim .sb{color:#cd0000}.highlight-vim .sc{color:#cd0000}.highlight-vim .sd{color:#cd0000}.highlight-vim .s2{color:#cd0000}.highlight-vim .se{color:#cd0000}.highlight-vim .sh{color:#cd0000}.highlight-vim .si{color:#cd0000}.highlight-vim .sx{color:#cd0000}.highlight-vim .sr{color:#cd0000}.highlight-vim .s1{color:#cd0000}.highlight-vim .ss{color:#cd0000}.highlight-vim .bp{color:#cd00cd}.highlight-vim .vc{color:#00cdcd}.highlight-vim .vg{color:#00cdcd}.highlight-vim .vi{color:#00cdcd}.highlight-vim .il{color:#cd00cd}.highlight-zenburn{background:#222}.highlight-zenburn code,.highlight-zenburn pre{color:#fdce93;background-color:#3f3f3f}.highlight-zenburn .c{color:#7f9f7f}.highlight-zenburn .err{color:#e37170;background-color:#3d3535}
.highlight-zenburn .g{color:#7f9f7f}.highlight-zenburn .k{color:#f0dfaf}.highlight-zenburn .l{color:#ccc}.highlight-zenburn .n{color:#dcdccc}.highlight-zenburn .o{color:#f0efd0}.highlight-zenburn .x{color:#ccc}.highlight-zenburn .p{color:#41706f}.highlight-zenburn .cm{color:#7f9f7f}.highlight-zenburn .cp{color:#7f9f7f}.highlight-zenburn .c1{color:#7f9f7f}.highlight-zenburn .cs{color:#cd0000;font-weight:bold}.highlight-zenburn .gd{color:#cd0000}.highlight-zenburn .ge{color:#ccc;font-style:italic}.highlight-zenburn .gr{color:red}.highlight-zenburn .gh{color:#dcdccc;font-weight:bold}.highlight-zenburn .gi{color:#00cd00}.highlight-zenburn .go{color:gray}.highlight-zenburn .gp{color:#dcdccc;font-weight:bold}.highlight-zenburn .gs{color:#ccc;font-weight:bold}.highlight-zenburn .gu{color:purple;font-weight:bold}.highlight-zenburn .gt{color:#0040D0}.highlight-zenburn .kc{color:#dca3a3}.highlight-zenburn .kd{color:#ffff86}.highlight-zenburn .kn{color:#dfaf8f;font-weight:bold}.highlight-zenburn .kp{color:#cdcf99}.highlight-zenburn .kr{color:#cdcd00}.highlight-zenburn .kt{color:#00cd00}.highlight-zenburn .ld{color:#cc9393}.highlight-zenburn .m{color:#8cd0d3}
.highlight-zenburn .s{color:#cc9393}.highlight-zenburn .na{color:#9ac39f}.highlight-zenburn .nb{color:#efef8f}.highlight-zenburn .nc{color:#efef8f}.highlight-zenburn .no{color:#ccc}.highlight-zenburn .nd{color:#ccc}.highlight-zenburn .ni{color:#c28182}.highlight-zenburn .ne{color:#c3bf9f;font-weight:bold}.highlight-zenburn .nf{color:#efef8f}.highlight-zenburn .nl{color:#ccc}.highlight-zenburn .nn{color:#8fbede}.highlight-zenburn .nx{color:#ccc}.highlight-zenburn .py{color:#ccc}.highlight-zenburn .nt{color:#9ac39f}.highlight-zenburn .nv{color:#dcdccc}.highlight-zenburn .ow{color:#f0efd0}.highlight-zenburn .w{color:#ccc}.highlight-zenburn .mf{color:#8cd0d3}.highlight-zenburn .mh{color:#8cd0d3}.highlight-zenburn .mi{color:#8cd0d3}.highlight-zenburn .mo{color:#8cd0d3}.highlight-zenburn .sb{color:#cc9393}.highlight-zenburn .sc{color:#cc9393}.highlight-zenburn .sd{color:#cc9393}.highlight-zenburn .s2{color:#cc9393}.highlight-zenburn .se{color:#cc9393}.highlight-zenburn .sh{color:#cc9393}.highlight-zenburn .si{color:#cc9393}.highlight-zenburn .sx{color:#cc9393}.highlight-zenburn .sr{color:#cc9393}.highlight-zenburn .s1{color:#cc9393}.highlight-zenburn .ss{color:#cc9393}
.highlight-zenburn .bp{color:#efef8f}.highlight-zenburn .vc{color:#efef8f}.highlight-zenburn .vg{color:#dcdccc}.highlight-zenburn .vi{color:#ffffc7}.highlight-zenburn .il{color:#8cd0d3}.highlight-default{background:#fff}.highlight-default .c{color:#998;font-style:italic}.highlight-default .err{color:#a61717;background-color:#e3d2d2}.highlight-default .k{font-weight:bold}.highlight-default .o{font-weight:bold}.highlight-default .cm{color:#998;font-style:italic}.highlight-default .cp{color:#999;font-weight:bold}.highlight-default .c1{color:#998;font-style:italic}.highlight-default .cs{color:#999;font-weight:bold;font-style:italic}.highlight-default .gd{color:#000;background-color:#fdd}.highlight-default .gd .x{color:#000;background-color:#faa}.highlight-default .ge{font-style:italic}.highlight-default .gr{color:#a00}.highlight-default .gh{color:#999}.highlight-default .gi{color:#000;background-color:#dfd}.highlight-default .gi .x{color:#000;background-color:#afa}.highlight-default .go{color:#888}.highlight-default .gp{color:#555}.highlight-default .gs{font-weight:bold}.highlight-default .gu{color:#aaa}.highlight-default .gt{color:#a00}.highlight-default .kc{font-weight:bold}
.highlight-default .kd{font-weight:bold}.highlight-default .kp{font-weight:bold}.highlight-default .kr{font-weight:bold}.highlight-default .kt{color:#458;font-weight:bold}.highlight-default .m{color:#099}.highlight-default .s{color:#d14}.highlight-default .na{color:teal}.highlight-default .nb{color:#0086B3}.highlight-default .nc{color:#458;font-weight:bold}.highlight-default .no{color:teal}.highlight-default .ni{color:purple}.highlight-default .ne{color:#900;font-weight:bold}.highlight-default .nf{color:#900;font-weight:bold}.highlight-default .nn{color:#555}.highlight-default .nt{color:navy}.highlight-default .nv{color:teal}.highlight-default .ow{font-weight:bold}.highlight-default .w{color:#bbb}.highlight-default .mf{color:#099}.highlight-default .mh{color:#099}.highlight-default .mi{color:#099}.highlight-default .mo{color:#099}.highlight-default .sb{color:#d14}.highlight-default .sc{color:#d14}.highlight-default .sd{color:#d14}.highlight-default .s2{color:#d14}.highlight-default .se{color:#d14}.highlight-default .sh{color:#d14}.highlight-default .si{color:#d14}.highlight-default .sx{color:#d14}.highlight-default .sr{color:#009926}.highlight-default .s1{color:#d14}
.highlight-default .ss{color:#990073}
.highlight-default .bp{color:#999}
.highlight-default .vc{color:teal}
.highlight-default .vg{color:teal}
.highlight-default .vi{color:teal}
.highlight-default .il{color:#099}
.cf:after{content:"";display:table;clear:both}
.highlight-fruity,.highlight,.highlight-monokai,.highlight-native,.highlight-vim,.highlight-zenburn,.highlight-default{margin-bottom:16px}
main{display:block}
#nav-menu{color:#999;display:none}
nav ul{margin:0;padding:0}
nav li{float:left;list-style:none}
body{
	font-family:Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif;
	margin:0;
	padding:0;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-font-feature-settings:"liga=1";
	-ms-font-feature-settings:"liga";
	-webkit-font-feature-settings:"liga";
	-o-font-feature-settings:"liga";
	font-feature-settings:"liga";
}
.teaserimage{height:200px;width:100%;position:relative;overflow:hidden;background-color:#000}
.teaserimage .teaserimage-image{background-size:cover;background-position:center;position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;text-indent:-9999px}
.blog-header{height:70px;width:100%;margin:0 auto;position:relative;padding:0;border-bottom:1px solid #000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.blog-header.is-fixed{position:fixed;top:0px;background-color:#fff}
.blog-header .blog-logo{width:120px;height:120px;top:-60px;margin-right:-60px;position:absolute;right:50%;background-size:cover;border-radius:50%;z-index:99;text-indent:-9999px;border:3px solid #bbb;background-color:#000;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3);box-shadow:0 1px 1px rgba(0,0,0,0.3)}
.blog-header .blog-title{
	margin:0;
	padding:8px 0;
	position:absolute;
	width:-webkit-calc(50% - 111px);
	width:-moz-calc(50% - 111px);
	width:calc(50% - 111px);
	top:0px;
	left:0px;
	font-size:50px;
	font-weight:700;
	text-align:right;
	letter-spacing:-2px;
	outline:0;
	line-height:42px;
	word-break:break-word;
	color:#333;

	width: 102px;
	left: calc(50% - 225px);
	padding-left: 10px;
	padding-right: 10px;
}
.blog-header .blog-description{margin:0 0 20px;padding:0 32px;font-size:18px;line-height:1.5;color:#666;text-align:center;font-weight:400}
.blog-header .custom-links{margin:0;text-align:left;color:#ccc;position:absolute;height:70px;width:-webkit-calc(50% - 99px);width:-moz-calc(50% - 99px);width:calc(50% - 99px);top:0px;right:0px}
.blog-header .custom-links a{text-decoration:none;color:#999;display:inline-block;height:69px;line-height:65px;padding:0 10px}
.blog-header .custom-links a:hover{color:#333;background-color:#ddd}
.content{width:100%;max-width:1000px;margin:0 auto;padding:0 32px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.content article{padding:60px 0;border-bottom:1px solid #f2f2f0}
.content article:first-child{padding-top:16px}
.content article:last-child{border-bottom:0px;padding-bottom:16px}
.content article .post-title{letter-spacing:-0.02em;font-weight:700;font-style:normal;display:block;font-size:28px;line-height:1.1;margin:0 0}
.content article .post-title a{text-decoration:none;color:#333332}
.content article .post-title a:hover{text-decoration:none}
.content article .post-excerpt{letter-spacing:-0.02em;font-weight:300;font-style:normal;font-size:20px;line-height:1.3;color:#666665}
.content article .post-excerpt a{color:#666665;text-decoration:none}
.content article .post-meta{font-size:14px;color:#b3b3b1;line-height:30px}
.content article .post-meta a{color:#b3b3b1;text-decoration:none}
.content article .post-meta a:hover{text-decoration:underline}
.container.featured{padding-bottom:40px}
.post-template .content{max-width:700px}
.index-headline{border-top:1px solid #dededc;margin:0;padding:16px 0}
.index-headline span{color:#b3b3b1;font-size:10px;text-transform:uppercase;letter-spacing:1px}
.archive-template .index-headline.featured{display:none}
.pagination{text-align:center;padding:16px 0 0;font-size:12px}
.pagination a{color:#999;text-decoration:none}
.pagination a:hover{color:#333}
.post-reading{position:fixed;top:12px;right:32px;line-height:25px;display:inline-block;white-space:nowrap;color:#999;background-color:rgba(255,255,255,0.94);border-radius:16px;padding:8px;font-size:14px;letter-spacing:-0.02em;font-weight:400;font-style:normal;font-family:Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif;z-index:999}
.tag-articleimage .post-reading{color:rgba(255,255,255,0.9);text-shadow:0px 1px 4px rgba(0,0,0,0.25),0px 0px 1px rgba(0,0,0,0.5)}
.site-footer{margin:0 auto;padding:24px 0;width:100%;max-width:640px;font-size:12px;text-align:center;color:#999;line-height:17.6px}
.site-footer a{color:#666;text-decoration:none}
.site-footer a:hover{color:#333}
.post .article-image{position:absolute;background-color:#000;top:0;left:0;right:0;bottom:0;overflow:hidden}
.post .article-image .post-image-image{background-size:cover;position:absolute;top:0;left:0;right:0;bottom:0;text-indent:-9999px;padding-top:33%;z-index:1}

.post .article-image .post-meta{position:absolute;bottom:80px;left:30%;right:30%;z-index:9;font-family:Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
@media only screen and (max-width: 800px){
	.post .article-image .post-meta{left:16px;right:16px}
}
.post .article-image .post-title{font-weight:700;font-style:normal;letter-spacing:-0.04em;font-size:50px;line-height:1.1;color:#fff;margin-bottom:16px;text-shadow:0px 1px 16px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,0.5)}
.post .article-image .author-image{display:inline-block;width:30px;height:30px;line-height:30px;margin-right:8px;margin-bottom:-10px;float:left;background-size:cover;border-radius:100%;text-indent:-9999px}
.post .article-image .author-name{display:inline}
.post .article-image .post-meta-text{color:rgba(255,255,255,0.75);letter-spacing:-0.02em;font-weight:400;font-style:normal;text-shadow:0px 1px 4px rgba(0,0,0,0.25),0px 0px 1px rgba(0,0,0,0.5);font-size:14px;overflow:hidden;font-family:Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif;white-space:nowrap;text-overflow:ellipsis}
.post .article-image .post-meta-text a{color:rgba(255,255,255,0.75)}
.post .article-image .post-meta-text a:hover{color:#fff}
.post .article-image .fa-angle-down{font-size:32px;margin:64px auto 0;color:rgba(255,255,255,0.75)}
.post .article-image .fa-angle-down:hover{color:#fff}
.post .article-image .topofpage{text-decoration:underline}
.post .noarticleimage .post-meta{font-family:Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif;padding-top:0px}
.post .noarticleimage .post-title{font-weight:700;font-style:normal;letter-spacing:-0.04em;font-size:50px;line-height:1.1;color:#333332;margin-bottom:16px}
.post .noarticleimage .author-image{display:inline-block;width:30px;height:30px;line-height:30px;margin-right:8px;margin-bottom:-10px;float:left;background-size:cover;border-radius:100%;text-indent:-9999px}
.post .noarticleimage .author-name{display:inline}
.post .noarticleimage .post-meta-text{color:#b3b3b1;letter-spacing:-0.02em;font-weight:400;font-style:normal;font-size:14px;overflow:hidden;font-family:Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif;white-space:nowrap;text-overflow:ellipsis}
.post .post-content{width:100%;font-family:Linux Libertine;color:#333;padding-top:16px}
.post .post-content h1,.post .post-content h2,.post .post-content h3{font-family:Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif}
.post .post-content h3,.post .post-content h4,.post .post-content h5,.post .post-content h6{letter-spacing:-0.02em;font-weight:700;font-style:normal;font-size:24px;line-height:1.3;margin:0;font-family:Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif;margin-bottom:4px}
.post .post-content h2,.post .post-content h1{letter-spacing:-0.02em;font-weight:700;font-style:normal;font-size:32px;line-height:1.2;padding-top:31px;margin-bottom:4px}
.post .post-content p{font-weight:400;font-style:normal;font-size:22px;line-height:30px;margin:0;padding-bottom:10px;color:#333;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
.post .post-content a{color:#333;text-decoration:underline}
.post .post-content img{max-width:100%;margin:0 auto}
.post .post-content figure{margin:0;padding:0 0 30px}
.post .post-content figcaption{font-weight:400;font-style:italic;font-size:16px;line-height:1.3;color:#666665;outline:0;z-index:300;text-align:center}
.post .post-content hr{border:0;padding:0;display:block;width:15%;margin:30px auto;border:0px solid #ddd;border-top:1px solid #ddd}
.post .post-content blockquote{margin:0 0 30px;margin-left:-26px;border-left:3px solid #57ad68;padding-left:20px}
.post .post-content blockquote p{letter-spacing:.01rem;font-weight:400;font-style:italic;mborder-left:3px solid #57ad68;mpadding-left:20px;mmargin-left:-26px;padding-bottom:3px}
.post .post-content ul,.post .post-content ol{padding:0 0 30px;margin:0}
.post .post-content li{padding:0;font-weight:400;font-style:normal;font-size:23px;line-height:30px;margin-left:30px;margin-bottom:12px;padding-top:2px}
.post .post-content li p{padding:0 0 1.618rem}
.post .post-content ol li{list-style-type:decimal}
.post .bottom-teaser{padding:10px 0;font-family:Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif}
.post .bottom-teaser hr{border:0;padding:0;display:block;width:15%;margin:16px 0 16px 100px;border:0px solid #ddd;border-top:1px solid #ddd}
.post .bottom-teaser .isLeft{float:left;width:47%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.post .bottom-teaser .isLeft .index-headline{padding-bottom:32px}
.post .bottom-teaser .isLeft a{color:#000;text-decoration:none}
.post .bottom-teaser .isLeft a:hover{color:#333;text-decoration:underline}
.post .bottom-teaser .isLeft .author-image{display:block;width:80px;height:80px;float:left;background-size:cover;border-radius:100%;text-indent:-9999px}
.post .bottom-teaser .isLeft h4{font-size:18px;line-height:1.1;font-weight:700;padding:0;margin:0;padding-left:100px}
.post .bottom-teaser .isLeft p{font-size:14px;line-height:1.3;font-weight:400;padding:0;margin:0;padding-left:100px}
.post .bottom-teaser .isLeft p.published{color:#999}
.post .bottom-teaser .isRight{float:right;width:47%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.post .bottom-teaser .isRight .index-headline{padding-bottom:32px}
.post .bottom-teaser .isRight .site-footer{margin:0;padding:0;color:#333;text-align:left;font-size:14px;line-height:1.3;color:#999}
.post .bottom-teaser .isRight .site-footer a{color:#333;text-decoration:none}
.post .bottom-teaser .isRight .site-footer a:hover{text-decoration:underline}
.post .bottom-teaser .isRight .site-footer .poweredby{display:block;padding-bottom:18px;font-weight:700;color:#333}
.share{text-align:right;padding:20px 0 0}
.share a{text-decoration:none;color:#bbb;padding-left:12px}
.share a .hidden{display:none}
.share a:hover{color:#333}
.bottom-closer{width:100%;height:200px;position:relative;overflow:hidden}
.bottom-closer .background-closer-image{position:absolute;top:0;left:0;right:0;bottom:0;text-indent:-9999px;background-size:cover;background-repeat:no-repeat;background-position:center}
.bottom-closer .inner{width:100%;position:relative;z-index:99;max-width:640px;padding:20px 0 90px;text-align:center;margin:0 auto}
.bottom-closer .inner .blog-title{margin:0;padding:0 0 10px;font-size:50px;text-align:center;font-weight:700;letter-spacing:-2px;outline:0;line-height:50px;word-break:break-word;color:#fff;text-shadow:0px 1px 16px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,0.5)}
.bottom-closer .inner .blog-description{margin:0 0 20px;padding:0 32px;font-size:18px;line-height:1.5;color:#fff;text-align:center;font-weight:400;text-shadow:0px 1px 16px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,0.5)}
.bottom-closer .inner .custom-links{margin:0 0 50px}
.bottom-closer .inner .btn{display:inline-block;text-align:center;letter-spacing:-0.02em;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;cursor:pointer;height:44px;background:#57ad68;color:#fff;vertical-align:middle;box-sizing:border-box;border-radius:999em;line-height:44px;padding:0 18px}
#disqus_thread{margin-top:50px}
.post-tag-articleimage{display:none}
pre,code{font-size:15px;border-radius:3px}
code{padding:1px 5px}
pre{padding:8px 12px;overflow-x:auto}
pre>code{border:0;padding-right:0;padding-left:0}
@media only screen and (max-width: 600px){
	#nav-menu{height:49px;line-height:45px;padding:0px 32px;cursor:pointer;text-align:right;display:block}
	#nav{display:none;float:right;background-color:#ddd;padding-left:22px}
	nav li{float:none;padding-right:22px}
	.teaserimage{height:200px}
	.blog-header{height:50px}
	.blog-header .blog-logo{width:80px;height:80px;top:-40px;margin-right:-40px}
	.blog-header .blog-title{padding:0 8px;font-size:32px}
	.blog-header .custom-links{height:50px;width:-webkit-calc(50% - 45px);width:-moz-calc(50% - 45px);width:calc(50% - 45px);left:-webkit-calc(50% + 45px);left:-moz-calc(50% + 45px);left:calc(50% + 45px)}
	.blog-header .custom-links a{height:49px;line-height:45px}
	.content{padding:0 16px}
	.content article .post-title{font-size:24px}
	.content article .post-excerpt{font-size:16px}
	.content article .post-meta{font-size:12px}
	.post-reading{display:none}
	.post .article-image .post-title{font-size:32px}
	.post .article-image .post-meta-text{font-size:12px}
	.post .noarticleimage .post-title{font-size:32px}
	.post .noarticleimage .post-meta-text{font-size:12px}
	.post .post-content h3,.post .post-content h4,.post .post-content h5,.post .post-content h6{font-size:20px}
	.post .post-content h2,.post .post-content h1{font-size:28px;line-height:1.1}
	.post .post-content p{font-size:18px;line-height:24px}
	.post .bottom-teaser .isLeft{width:100%;padding-bottom:32px}
	.post .bottom-teaser .isRight{width:100%}
	pre,code{font-size:12px}
}

div.backbutton{
	color: #333332;
	display: inline-block;
	position: relative;
	left: calc(50% - 470px);
	top: 0px;
	height: 45px;
	padding-top: 24px;
	padding-left: 45px;
	padding-right: 45px;
}
div.previousbutton{
	color: #333332;
	display: inline-block;
	position: relative;
	left: calc(50% - 470px);
	top: 0px;
	height: 45px;
	padding-top: 24px;
	padding-left: 45px;
	padding-right: 45px;
}
div.nextbutton{
	color: #333332;
	display: inline-block;
	position: relative;
	right: calc(50% - 470px);
	top: 0px;
	height: 45px;
	padding-top: 24px;
	padding-left: 45px;
	padding-right: 45px;
}

div.backbutton:hover,
div.previousbutton:hover,
div.nextbutton:hover{
	color: #FFFFFF;
	background-color: #333332;
}
